section{
    width: 50%;
    margin: auto;
    border: 2px solid black;
    padding: 1%;
}

section.change{
    border: 2px solid gold;
    background-color: aqua;
}

p{
    color: blue;
}
p.change{
    color: red;
}
