*{
    margin: 0;
    padding: 0;
}
header{
    background-color: darkblue;
}
header>div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #5f9ea0;
    font-weight: bolder;
}
header>div{
    padding: 0.5% 0 0.5% 0;
}
header>div>div{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}
nav{
    background-color: blue;
    padding: 1%;
}
ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
li{
    display: inline;
    border: 1px solid white;
    border-radius: 5px;
    margin-left: 1%;
    background-color: purple;
    padding: 0.3%;

}
a{ 
    text-decoration: none;
    color: white;
}
ul>li:nth-child(1){
 background-color: red;
}
li:hover{
    background-color: red;
    text-align: ;
}
i{
    font-size: 150%;
}
section{
    width: 50%;
    margin: auto;

}
.premiere{
    background-color: palegreen;
    height: 350px;
}
.second{
    background-color: palegoldenrod;
    height: 150px;
}
footer{
    background-color: darkblue;
    height: 50px;
}
    
.finh{
    background: aquamarine;
    height: 10px;
}